body{
    font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

div[one]{
    background-color: #ffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(41, 35, 35, 0.295);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#carta{
    max-width: 200px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#botao-carta{
    background-color: #007bff;
    color: #ffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

}

#botao-carta:hover{
    background-color:#0269d8;
}

